<ion-content ng-controller="RestaurantListCtrl">
	<button class="button button-positive button-full" ng-click="setPage('restaurantList');">Back</button>
	<div class="list card">
		<div class="item item-avatar">
			<img src="{{currentPlace.photos[0].getUrl({maxWidth:50})}}" height="42" width="42">
			<h2>{{currentPlace.name}}</h2>
			<h4>{{currentPlace.vicinity}}</h4>
			<h4>Number: {{currentPlace.formatted_phone_number}}</h4>
		</div>

		<div class="item item-body">

			<ion-slide-box>
				<ion-slide ng-repeat="photo in currentPlace.photos" ng-init="updateSlide()"><img src="{{photo.getUrl({maxHeight:300})}}" /></ion-slide>
			</ion-slide-box>

			<div class="card" ng-controller="reviewCtrl">
				<div class="item item-body">
					<h2>Your Review</h2>
					<div id="reviewStars">
						<h1>
							<i class="icon ion-ios-star-outline" ng-if="review.stars<=0"></i>
							<i class="icon ion-ios-star" ng-if="review.stars>0"></i>

							<i class="icon ion-ios-star-outline" ng-if="review.stars<=1"></i>
							<i class="icon ion-ios-star" ng-if="review.stars>1"></i>

							<i class="icon ion-ios-star-outline" ng-if="review.stars<=2"></i>
							<i class="icon ion-ios-star" ng-if="review.stars>2"></i>

							<i class="icon ion-ios-star-outline" ng-if="review.stars<=3"></i>
							<i class="icon ion-ios-star" ng-if="review.stars>3"></i>

							<i class="icon ion-ios-star-outline" ng-if="review.stars<=4"></i>
							<i class="icon ion-ios-star" ng-if="review.stars>4"></i>
						</h1>
					</div>
				</div>

				<div class="item item-body">
					<p ng-if='review.text==""'>No review yet, care to add one?</p>
					<p>{{review.text}}</p>
				</div>
				<button class="button button-positive icon-left ion-compose" ng-click="modal.show()">Edit Review</button>
			</div>
					
			<h2>All Reviews</h2>

			<div class="card" ng-controller="reviewCtrl" ng-repeat="userReview in allReviews">
				<div class="item item-body">
					<div id="reviewStars">
						<h1>
							<i class="icon ion-ios-star"></i>

							<i class="icon ion-ios-star-outline" ng-if="userReview.stars<=1"></i>
							<i class="icon ion-ios-star" ng-if="userReview.stars>1"></i>

							<i class="icon ion-ios-star-outline" ng-if="userReview.stars<=2"></i>
							<i class="icon ion-ios-star" ng-if="userReview.stars>2"></i>

							<i class="icon ion-ios-star-outline" ng-if="userReview.stars<=3"></i>
							<i class="icon ion-ios-star" ng-if="userReview.stars>3"></i>

							<i class="icon ion-ios-star-outline" ng-if="userReview.stars<=4"></i>
							<i class="icon ion-ios-star" ng-if="userReview.stars>4"></i>
						</h1>
					</div>
				</div>

				<div class="item item-body">
					<p>{{userReview.text}}</p>
				</div>
			</div>
		</div>
	</div>
</ion-content>